[flake8]
exclude = 
       .eggs
       ,\.git
       ,\.hg
       ,\.mypy_cache
       ,\.tox
       ,\.venv
       ,_build
       ,buck-out
       ,build
       ,dist
       ,third_party
#include = '\.pyi?$' not flake 8 
max-line-length = 88
select = E,F,W,C
ignore=W503,
       E203,
       E731,
       E722,
       F401,
       F841,
       E402,
       E741,
       E501,
       C406,
